.register-form {
    margin: 2em;
}

.register-button {
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: darkgreen;
    margin-left: 7em;
    padding: 0.3em;
}