{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Study Log
        {% endblock title %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock css %}
</head>
<body>
    <div class="container">
        <header class="header">
            <nav>
                <ul>
                    <li class="nav-link">
                        <a href="{% url 'StudyLogs:index' %}">Study Log</a>
                    </li class="nav-link">
                    <li class="nav-link">
                        <a href="{% url 'StudyLogs:topics' %}">Topics</a>
                    </li class="nav-link">
                    {% if user.is_authenticated %}
                        <li class="nav-link" style="float: inline-end;">Hello, {{ user.username }}.</li>
    
                    <li class="nav-link" style="float: inline-end;">
                        <a href="{% url 'users:logout' %}">Log out</a>
                    </li class="nav-link">
                    {% else %}
                    <li class="nav-link" style="float: inline-end;">
                        <a href="{% url 'users:register' %}">Register</a>
                    </li class="nav-link">
                    <li class="nav-link" style="float: inline-end;">
                        <a href="{% url 'users:login' %}">Log in</a>
                    </li class="nav-link">
                    {% endif %}
                </ul>
            </nav>
        </header>
        <aside class="aside">{% block aside %}Topics{% endblock aside %}</aside>
        <article class="article">{% block content%}{% endblock content %}</article>
        <footer class="footer">All rights reserver &copy; 2022, Xessive Observer</footer>
    </div>
</body>
</html>