{% extends 'StudyLogs/base.html'%}

{% block content %}
    <p class="topics-heading">Topics</p>
    <hr class="horizontal-topics">

    <ul class="topics">
        {% for topic in topics %}
        <li>
            <a href="{% url 'StudyLogs:topic' topic.id %}">{{topic}}</a>
        </li>
        {% empty %}
        <li>
            No topic has been added yet.
        </li>
        {% endfor %}
        <a href="{% url 'StudyLogs:new_topic' %}" class="add-topic-link">Add new topic</a>
    </ul>
   
{% endblock content %}