{% extends 'StudyLogs/base.html'%}

{% block content %}

    <p class="topic">Topic: {{ topic }}</p>
    <hr class="horizontal-topic">

    <p class="entries">Entries</p>
    <p class="add-new-entry">
        <a href="{% url 'StudyLogs:new_entry' topic.id %}">Add new Entry</a>
    </p>
    <ul class="entry-list">
        {% for entry in entries %}
            <li>
                <p class="date">
                    {{ entry.date_added|date:'M d, Y H:i' }}
                </p>
                <p class="entry-content">
                    {{ entry.text|linebreaks }}
                </p>
                <p class="edit-entry-link">
                    <a href="{% url 'StudyLogs:edit_entry' entry.id %}">Edit entry</a>
                </p>
            </li>
        {% empty %}
            <li>
                There are no entries for this topic yet.
            </li>
        {% endfor %}
    </ul>

{% endblock content %}